<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.js"></script>
<script>
  angular.module("myApp", []).controller("myCtrl", function ($scope) {
    $scope.calculate = function(){
      if($scope.score > 55){
        $scope.message = "you passed!"
      }else{
        $scope.message = "you failed";
      }
    }
  });
</script>
<p>This is a user interface for a simple selection control structure. You input your mark in the form below, and it tells you if you passed or failed.</p>
<form ng-app="myApp" ng-controller="myCtrl">
<label>Input test score</label><input ng-model="score" />
<button ng-click="calculate()">Get Status</button>
<p>{{message}}</p>
</form>
